<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="col-8 offset-2">
    <div class="row">
        <h3>Create New Listing</h3>
        <br><br><br>
        <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3"><label for="title" class="form-label"> Title</label>
                <input name="listing[title]" placeholder="Add catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter Title</div>
            </div>
            
            <div class="mb-3"><label for="description" class="form-label"> Description</label>
                <input name="listing[description]" placeholder="Enter Description" class="form-control" required>
                <div class="invalid-feedback">Please enter description</div></div>

            <div class="mb-3"><label for="image" class="form-label">Upload Listing Image</label>
                <input name="listing[image]"  type="file" class="form-control"></div>
    

            <div class="row">

                <div class="mb-3 col-md-4"><label for="Price" class="form-label"> Price</label>
                <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                <div class="invalid-feedback">Please enter valid price</div>
                </div>

                <div class="mb-3 col-md-8"><label for="Country" class="form-label"> Country </label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter country name</div></div>

            </div>
            
            <div class="mb-3"><label for="location" class="form-label"> Location</label>
                <input name="listing[location]" placeholder="Pune, Maharashtra" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter location</div></div>
            
            <br>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-select" id="category" required>
                    <option value="">Select a category</option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Cities">Cities</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing Pools">Amazing Pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Farm">Farm</option>
                </select>
                <div class="invalid-feedback">Please select a category</div>
            </div>
            <br>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>
</body>
